.banner {
  padding-top: 64px;
  padding-bottom: 115px;
  background-image: url(../img/hero/hero-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 375px;
  margin: 0 auto;
}

.banner-container {
  max-width: 335px;
}

.banner-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-description {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 32px;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 45px;
  background-color: #88765c;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid transparent;
  transition:
    color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:hover,
.banner-button:focus {
  border: 1px solid #02060a;
  background-color: #c3b49d;
  color: #02060a;
}

.banner-button:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
              inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

/* Retina mobile */
@media screen and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/hero/hero-mob@2x-min.jpg);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
    padding-bottom: 235px;
    background-image: url(../img/hero/hero-tab-min.jpg);
  }

  .banner-container {
    max-width: 704px;
  }

  .banner-title {
    max-width: 622px;
  }

  .banner-description {
    max-width: 512px;
  }
}

/* Tablet retina */
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/hero/hero-tab@2x-min.jpg);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .banner {
    max-width: 1440px;
    padding-top: 128px;
    padding-bottom: 413px;
    background-image: url(../img/hero/hero-desk-min.jpg);
  }

  .banner-title {
    font-size: 56px;
  }

  .banner-description {
    font-size: 18px;
  }

  .banner-button {
    font-size: 16px;
  }

  .banner-container {
    margin-left: 0;
  }
}

/* Desktop retina */
@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/hero/hero-desk@2x-min.jpg);
  }
}
