.promo {
    padding-top: 64px;
    padding-bottom: 115px;
    background-image: url(../img/hero/hero-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 375px;
    margin: 0 auto;
}

.promo-wrapper {
    max-width: 335px;
}

.promo .container {
    display: flex;
    flex-direction: column;
}

.promo-title {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 24px;
}

.promo-text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 32px;
}

.promo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 45px;
    background-color: #88765c;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-link:hover,
.promo-link:focus {
    color: #02060A;
    background-color: #EEE9E3;
    border: 1px solid #88765c;
}

.promo-link:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
                inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

/* Retina mobile */
@media screen and (min-resolution: 2dppx) {
    .promo {
        background-image: url(../img/hero/hero-mob@2x-min.jpg);
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .promo {
        max-width: 768px;
        padding-bottom: 235px;
        background-image: url(../img/hero/hero-tab-min.jpg);
    }

    .promo-title {
        max-width: 622px;
    }

    .promo-text {
        max-width: 512px;
    }

    .promo-wrapper {
        max-width: 704px;
    }
}

/* Tablet retina */
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .promo {
        background-image: url(../img/hero/hero-tab@2x-min.jpg);
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .promo {
        background-image: url(../img/hero/hero-desk-min.jpg);
        max-width: 1440px;
        padding-top: 128px;
        padding-bottom: 413px;
    }

    .promo-title {
        font-size: 56px;
    }

    .promo-text {
        font-size: 18px;
    }

    .promo-link {
        font-size: 16px;
    }

    .promo-wrapper {
        margin-left: 0;
    }
}

/* Desktop retina */
@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .promo {
        background-image: url(../img/hero/hero-desk@2x-min.jpg);
    }
}
